In [16]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [37]:

# Settings
num_sap_accounts = 100
cob_dates = ["2023-09-29"]
trade_start_date = datetime(2023, 1, 1)
trade_end_date = datetime(2023, 9, 30)

# Generate unique Trade IDs for each day for each SAP Account
trade_dates = pd.date_range(trade_start_date, trade_end_date)
np.random.seed(42)

# Create DataFrame for all combinations
data = []

for cob_date in cob_dates:
    for sap_account in [f"ACC-{i+1:04d}" for i in range(num_sap_accounts)]:
        for trade_date in trade_dates:
            num_trades_per_day = 1 # 1 to 3 trades per day
            for _ in range(num_trades_per_day):
                trade_id = f"{sap_account}-{trade_date.strftime('%Y%m%d')}-{np.random.randint(1000, 9999)}"
                
                # Randomly set maturity to the next day or later
                maturity_date = trade_date + timedelta(days=1)
                
                principal_amount = np.round(np.random.uniform(1, 10), 2) * 1e6
                balance_amount = np.round(np.random.uniform(20000, 99000), 2)
                interest_rate = np.round(np.random.uniform(4.5, 5.8), 2)
                floating_rate = np.round(np.random.uniform(4.0, 6.0), 2)

                data.append([
                    cob_date,
                    sap_account,
                    floating_rate,
                    interest_rate,
                    balance_amount,
                    trade_date,
                    maturity_date,
                    trade_id,
                    principal_amount
                ])

# Create DataFrame
columns = [
    "COB Date",
    "SAP Account",
    "Floating Rate",
    "Interest Rate",
    "Balance Amount",
    "Trade Date",
    "Maturity Date",
    "Trade ID",
    "Principal/Notional Amount"
]
df_2023 = pd.DataFrame(data, columns=columns)

In [38]:

# Settings
num_sap_accounts = 100
cob_dates = ["2024-09-30"]
trade_start_date = datetime(2024, 1, 1)
trade_end_date = datetime(2024, 9, 30)

# Generate unique Trade IDs for each day for each SAP Account
trade_dates = pd.date_range(trade_start_date, trade_end_date)
np.random.seed(42)

# Create DataFrame for all combinations
data = []

for cob_date in cob_dates:
    for sap_account in [f"ACC-{i+1:04d}" for i in range(num_sap_accounts)]:
        for trade_date in trade_dates:
            num_trades_per_day = 1 # 1 to 3 trades per day
            for _ in range(num_trades_per_day):
                trade_id = f"{sap_account}-{trade_date.strftime('%Y%m%d')}-{np.random.randint(1000, 9999)}"
                
                # Randomly set maturity to the next day or later
                maturity_date = trade_date + timedelta(days=1)
                
                principal_amount = np.round(np.random.uniform(1, 10), 2) * 1e6
                balance_amount = np.round(np.random.uniform(20000, 99000), 2)
                interest_rate = np.round(np.random.uniform(4.5, 5.8), 2)
                floating_rate = np.round(np.random.uniform(4.0, 6.0), 2)

                data.append([
                    cob_date,
                    sap_account,
                    floating_rate,
                    interest_rate,
                    balance_amount,
                    trade_date,
                    maturity_date,
                    trade_id,
                    principal_amount
                ])

# Create DataFrame
columns = [
    "COB Date",
    "SAP Account",
    "Floating Rate",
    "Interest Rate",
    "Balance Amount",
    "Trade Date",
    "Maturity Date",
    "Trade ID",
    "Principal/Notional Amount"
]
df_2024 = pd.DataFrame(data, columns=columns)

In [39]:
df_2024

,COB Date,SAP Account,Floating Rate,Interest Rate,Balance Amount,Trade Date,Maturity Date,Trade ID,Principal/Notional Amount
0,2024-09-30,ACC-0001,5.19,5.51,34491.35,2024-01-01,2024-01-02,ACC-0001-20240101-8270,8170000.0
1,2024-09-30,ACC-0001,5.20,5.63,24588.61,2024-01-02,2024-01-03,ACC-0001-20240102-7265,2400000.0
2,2024-09-30,ACC-0001,4.42,5.58,96622.88,2024-01-03,2024-01-04,ACC-0001-20240103-9322,1190000.0
3,2024-09-30,ACC-0001,4.01,5.30,68781.04,2024-01-04,2024-01-05,ACC-0001-20240104-6311,9930000.0
4,2024-09-30,ACC-0001,4.73,4.88,31020.01,2024-01-05,2024-01-06,ACC-0001-20240105-9666,6510000.0
...,...,...,...,...,...,...,...,...,...
27395,2024-09-30,ACC-0100,4.28,5.34,33669.44,2024-09-26,2024-09-27,ACC-0100-20240926-8364,5270000.0
27396,2024-09-30,ACC-0100,5.85,5.78,40724.92,2024-09-27,2024-09-28,ACC-0100-20240927-3835,7380000.0
27397,2024-09-30,ACC-0100,4.35,5.68,62645.19,2024-09-28,2024-09-29,ACC-0100-20240928-5032,2740000.0
27398,2024-09-30,ACC-0100,4.33,4.72,60625.49,2024-09-29,2024-09-30,ACC-0100-20240929-2083,7560000.0
27399,2024-09-30,ACC-0100,4.47,5.25,93793.32,2024-09-30,2024-10-01,ACC-0100-20240930-8047,2880000.0

In [40]:
df_main = pd.concat([df_2023, df_2024], ignore_index=True)

In [42]:
df_main.to_csv("data.csv", index=False)

In [43]:
df_main.groupby("COB Date").size()

COB Date
2023-09-29    27300
2024-09-30    27400
dtype: int64

In [44]:
df_main

,COB Date,SAP Account,Floating Rate,Interest Rate,Balance Amount,Trade Date,Maturity Date,Trade ID,Principal/Notional Amount
0,2023-09-29,ACC-0001,5.19,5.51,34491.35,2023-01-01,2023-01-02,ACC-0001-20230101-8270,8170000.0
1,2023-09-29,ACC-0001,5.20,5.63,24588.61,2023-01-02,2023-01-03,ACC-0001-20230102-7265,2400000.0
2,2023-09-29,ACC-0001,4.42,5.58,96622.88,2023-01-03,2023-01-04,ACC-0001-20230103-9322,1190000.0
3,2023-09-29,ACC-0001,4.01,5.30,68781.04,2023-01-04,2023-01-05,ACC-0001-20230104-6311,9930000.0
4,2023-09-29,ACC-0001,4.73,4.88,31020.01,2023-01-05,2023-01-06,ACC-0001-20230105-9666,6510000.0
...,...,...,...,...,...,...,...,...,...
54695,2024-09-30,ACC-0100,4.28,5.34,33669.44,2024-09-26,2024-09-27,ACC-0100-20240926-8364,5270000.0
54696,2024-09-30,ACC-0100,5.85,5.78,40724.92,2024-09-27,2024-09-28,ACC-0100-20240927-3835,7380000.0
54697,2024-09-30,ACC-0100,4.35,5.68,62645.19,2024-09-28,2024-09-29,ACC-0100-20240928-5032,2740000.0
54698,2024-09-30,ACC-0100,4.33,4.72,60625.49,2024-09-29,2024-09-30,ACC-0100-20240929-2083,7560000.0
54699,2024-09-30,ACC-0100,4.47,5.25,93793.32,2024-09-30,2024-10-01,ACC-0100-20240930-8047,2880000.0

In [48]:
# First pivot table: SAP Account, COB Date with average 'Balance Amount'
df_summary = df_main.pivot_table(
    values='Balance Amount',
    index=['SAP Account', 'COB Date'],
    aggfunc='mean'
).reset_index()

# Second pivot table: COB Date, SAP Account, Floating Rate, Interest Rate, Balance Amount, Trade Date, Maturity Date, Principal/Notional Amount
df_detailed = df_main.pivot_table(
    values=['Floating Rate', 'Interest Rate', 'Balance Amount', 'Principal/Notional Amount'],
    index=['COB Date', 'SAP Account', 'Trade Date', 'Maturity Date'],
    aggfunc='first'
).reset_index()

In [54]:
df_detailed

,COB Date,SAP Account,Trade Date,Maturity Date,Balance Amount,Floating Rate,Interest Rate,Principal/Notional Amount
0,2023-09-29,ACC-0001,2023-01-01,2023-01-02,34491.35,5.19,5.51,8170000.0
1,2023-09-29,ACC-0001,2023-01-02,2023-01-03,24588.61,5.20,5.63,2400000.0
2,2023-09-29,ACC-0001,2023-01-03,2023-01-04,96622.88,4.42,5.58,1190000.0
3,2023-09-29,ACC-0001,2023-01-04,2023-01-05,68781.04,4.01,5.30,9930000.0
4,2023-09-29,ACC-0001,2023-01-05,2023-01-06,31020.01,4.73,4.88,6510000.0
...,...,...,...,...,...,...,...,...
54695,2024-09-30,ACC-0100,2024-09-26,2024-09-27,33669.44,4.28,5.34,5270000.0
54696,2024-09-30,ACC-0100,2024-09-27,2024-09-28,40724.92,5.85,5.78,7380000.0
54697,2024-09-30,ACC-0100,2024-09-28,2024-09-29,62645.19,4.35,5.68,2740000.0
54698,2024-09-30,ACC-0100,2024-09-29,2024-09-30,60625.49,4.33,4.72,7560000.0
54699,2024-09-30,ACC-0100,2024-09-30,2024-10-01,93793.32,4.47,5.25,2880000.0

In [63]:
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'

In [61]:
!pip install matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in c:\users\pdesai\appdata\roaming\python\python312\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pdesai\appdata\roaming\python\python312\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\pdesai\appdata\roaming\python\python312\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pdesai\appdata\roaming\python\python312\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pdesai\appdata\roaming\python\python312\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\program files\python312\lib\site-packages (from matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\program files\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\program files\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pdesai\appdata\roaming\python\python312\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\program files\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\program files\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)